.aboutme {
    min-height: 90vh;
    background: url("images/backgroundpic.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* profilio html */
.Profile{
    background-color: darkturquoise;
}
.links{
  margin: auto;
  width: 50%;
  border: 3px solid lightgreen;
  padding: 10px;
}
.resume{
  background-color: darkblue;
}

/* index html */
main {
    background-color: bisque;
}
.text-center {
      margin: auto;
      width: 60%;
      padding: 10px;
      border: 3px
}
.pictureofme{
  height: 250px;
  width: 250px;
}
.text {
  font-size: 1.5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  color: yellow;
}

/* contact html */
.contactinfo{
  background: beige;
}

/* navbar  */
nav {
 background-color: aqua;
 min-height: 10vh;
 font-size: 1.5rem;
}
/* .navbar-nav {
  font-size: 1.5rem;
  background: aquamarine;
} */