.aboutme {
    min-height: 90vh;
    background: url("images/backgroundpic.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* protfilio html */
.center {
  text-emphasis: bold;
  color: darkviolet;
}
.card{
  padding: .5rem;
  border-radius: 3rem;
  padding-bottom: 3rem;
}
/* index html */
.divSpace {
  height: 8rem;
}
.text-center {
      margin: auto;
      width: 60%;
      padding: 10px;
      border: 3px
}
.pictureofme{
  padding-bottom: 2rem;
  height: 28px;
  width: 28px;
}
.text {
  font-size: 1.5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  color: yellow;
}

/* contact html */
.contactinfo{
  background: burlywood;
}

/* navbar  */
nav {
 background-color: aqua;
 min-height: 10vh;
 font-size: 1.5rem;
}
